:root {

    --darker-orange: #bb600a;
    --dark-orange: #FB8B24;

    --minion-yellow: #FCE762;

    --ivory: #FFFDED;
    --dark-ivory: #e6e2c6;

    --points-500: var(--dark-orange);
    --points-100: var(--darker-orange);
    --points-0: #b6aa89;

    --black-choc: #1f1400;
    --black-coral: #495867;

    --slate-blue: #4F4789;
    --dark-purple: #201335;

    --wine: #5C0029;
    --grapefruit-4: #af3213;
    --grapefruit-3: #e05a38;
    --grapefruit-2: #e4795e;
    --grapefruit-1: #FB9E87;
    --grapefruit-0: #f8b3a1;
    --bee-2: #e9bf76;
    --bee-1: #EFC781;
    --bee-0: #f3d298;
    --dark-bee: #c0903e;
    --army: #97A58F;

    background-color: var(--ivory);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: var(--ivory);
    background-size: cover;
}

body {
    margin: 0;
}

#navbar {
    padding: 0;
    margin: 0;
    display: flex;
    background-color: var(--black-choc);
}

#logo:hover,
#logo:active,
#logo:focus {
    background-color: var(--black-coral);
}

#logo {
    user-select: none;
    cursor: pointer;
    padding: 10px;
    padding-left: 20px;
    padding-right: 30px;
    display: flex;
    font-size: 40px;
}

#logo-translate {
    color: var(--dark-ivory);
    font-weight: 300;
}

#logo-me {
    color: var(--ivory);
    font-weight: bolder;
}

.original-text-row {
    margin: 5px 0;
    font-weight: thin;
    color: var(--black-choc);
}

#original-text {
    font-size: 34px;
    font-weight: bolder;
    color: var(--black-choc);
}

#original-text-container {
    border-bottom: 1px solid var(--black-choc);
    background-color: var(--ivory);
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 20px;
    color: var(--grapefruit-2);
    font-size: 30px;
}

#submit-translation-button {
    border-radius: 20px;
    width: 100px;
    margin-right: 6px;
    margin-bottom: 6px;
    margin-left: 20px;
    margin-top: 20px;
    height: 150px;
    border: 2px solid var(--black-choc);
    box-shadow: 6px 6px 1px 1px black;
    color: var(--black-choc);
    background-color: var(--ivory);
    font-size: 25px;
}


#submit-translation-button:hover,
#submit-translation-button:focus-visible,
#submit-translation-button:active {
    background-color: var(--dark-ivory);
    text-decoration: underline;
    box-shadow: 0 0 0 0 black;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 26px;
    margin-top: 26px;
    cursor: pointer;
    outline: none;
}

.flex-center {
    display: flex;
    justify-content: center;
}

#user-translation {
    border-radius: 20px;
    border: 1px dashed var(--black-choc);
    background-color: var(--ivory);
    margin-top: 24px;
    width: 500px;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    font-size: 20px;
    resize: none;
}

#user-translation::placeholder {
    opacity: 0.5;
}

#user-translation:focus,
#user-translation:focus-visible {
    outline: var(--dark-orange) solid 2px;
    border: 2px solid var(--dark-orange);
}

.score {
    user-select: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    margin-right: 10px;
}

.score-500 {
    color: var(--ivory);
    background-color: var(--points-500);
}

.score-100 {
    color: var(--black-choc);
    background-color: var(--points-100);
}

.score-0 {
    color: var(--ivory);
    background-color: var(--points-0);
}

#score-list {
    display: flex;
}

#total-score {
    display: flex;
    background-color: var(--dark-ivory);
    padding: 8px;
    margin-right: 30px;
}

#total-score-num {
    margin-left: 10px;
}

#score-board {
    display: flex;
    margin-bottom: 20px;
}